# macOS
.DS_Store

#Xcode
xcuserdata/
*.moved-aside
*.xcuserstate

# Pod
*.xcworkspace/
Pods/

# R.swift
*.generated.swift

# rxtree
rxtree
.rxtree-version

# Fastlane
/build
/.bundle
/vendor
/fastlane/report.xml
/fastlane/test_output/
