<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563523763031-ba9olce9bsuds5uo0qd8l0rdklvg6iac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563523763031-ba9olce9bsuds5uo0qd8l0rdklvg6iac</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8-QW2E1O5DOFpRe1m6EoCUFwNc10MF8</string>
	<key>GCM_SENDER_ID</key>
	<string>563523763031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pw.fczm.Httper</string>
	<key>PROJECT_ID</key>
	<string>httper-mushare</string>
	<key>STORAGE_BUCKET</key>
	<string>httper-mushare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563523763031:ios:563ace0d4f639ce0</string>
	<key>DATABASE_URL</key>
	<string>https://httper-mushare.firebaseio.com</string>
</dict>
</plist>